/* web fonts */
@font-face {
	font-family: 'GeosansLite';
	font-style: normal;
	font-weight: 400;
	src: url('./GeosansLight.ttf') format('ttf');
}
@font-face {
	font-family: 'GeosansLite';
	font-style: italic;
	font-weight: 400;
	src: url('./GeosansLight-Oblique.ttf') format('ttf');
} 

@import url('https://fonts.googleapis.com/css?family=Exo:600,800');

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


:root {
	--accent-color: #f0f000;
}


/* header and main page */
body {
	min-height: 100vh;
	width: 100%;
	position: absolute;
	font-size: 14px;
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	
	/*background: url("../images/paper-tile.jpg") repeat scroll 0 0 #FFFAFA;*/
	line-height: 22px;
	text-rendering: geometricPrecision;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #4d5355;
}
/* header */
#header {
	width: 100%;
	display: flex;
	/*align-items: baseline;*/
	flex-direction: row;
	align-items: stretch;
	background-image: url("../images/treeback.jpg");
	box-shadow: 0 0 1em #000000;
}

#header #name {
	padding: 3px 3px 3px 3px;
	font-weight: bold;
	font-size: 2em;
	width: 10em;
	flex: 0 0 250px;
	font-family: Exo, sans-serif;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(251, 251, 251, 0.87)
}

#tagline {
	font-weight: 600;
	font-size: .875em;
	color: #193aa8;
}
.jason {
	color: #2180d2;
}


/* navigation area */
#nav {
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#nav li {
	background: #fbfbfb;
	background: rgba(251,251,251,.87);
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	color: #217ad2;
	font-family: Exo, sans-serif;
	font-weight: 600;
	text-align: center;
	list-style-type: none;
	margin: 5px;
	transition: background .3s, box-shadow .3s, color .3s;
	min-width: 15em;
	text-shadow: 0 0 3px #dbdbdb;
}
#nav li:nth-child(4n){
	background-position: 0px -20px;
}
#nav li:nth-child(4n+1){
	background-position: 0px -60px;
}
#nav li:nth-child(4n+2){
	background-position: 0px -200px;
}

#nav li:hover {
	background-color: rgba(255, 255, 255, 0.94);
	box-shadow: 0 0 15px #646363;
	color: #17afff;
}

#nav a {
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	display: block;
	font-size: 130%;
	padding:10px;
}
#nav img {
	width: 100%;
}


#page {
	margin: 20px auto;
	max-width: 70em;
	text-align: justify;
}
h1,h2,h3 {
	font-family: Exo, sans-serif;
	font-weight: 600;
	clear: both;
}
h3:before {
	clear:both; 
	display: block;
}
a {
	text-decoration: none;
	color: #217ad2;
}
a:hover {
	color: #17afff;
}

/* sections */
.section {
	background: #fbfbfb;
	background: rgba(251,251,255,.9);
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 7px rgb(0, 0, 0);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5px;
	margin-bottom: 20px;
}

.floatleft {
	float: left;
	margin-right: 12px;
}
.floatright {
	float: right;
	margin-left: 12px;
}

.email {
	color: gray;
}

/* paper citations */
#papers a {
	text-decoration: none;
}
#papers ul {
	padding: 0;
	margin-left: 20px;
}
#papers li, #courses li {
	list-style-type: none;
	padding: 0;
	margin-bottom: .5em;
}
.authors {
	display: inline;
	color: #333;
}
.authors li {
	display: inline;
	list-style-type: none;
}
.authors li:after {
	content: ', ';
}
.authors li:last-child:after {
	content: '';
}

.title {
	font-style: italic;
}
.citation {
	font-size: .9em;
	color: gray;
}

.term {
	font-size: smaller;
}
.course-title {
	display: block;
	font-weight: bold;
}
book {
	font-style: italic;
}


/* Software */
#software ul {
	padding: 0;
	margin: 0;
}
#software li {
	list-style-type: none;
	margin-bottom: 1em;
}
#software li p {
	margin: 0 2em 0 2em;
}
#software li > a {
	font-size: 1.2em;
}

.myface {
	text-align: center;
}

.cf {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 7px 7px;
	background-color: #FFFAFA;

	border: 1px solid #ddd;
	-webkit-box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
	-moz-box-shadow: 1px 1px 5px rgba(153, 153, 153, 0.2);
	box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);
}

.cf:hover {
	background-image: url("../images/jason-climb.jpg");
}

.cf img {
	display: block;
	transition: opacity 1s ease-in-out;
	height: 280px;
	border: 5px solid #fff;
}

.cf img:hover {
	opacity: 0;
}


/* footer */
#footer p {
	margin: 0px;
	width: 100%;
	text-align: center;
	color: gray;
}




/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

@media only screen and (max-width: 720px) {
	#header {
		flex-direction: column;
		background-image: url("../images/treeback-vert.jpg");
	}
	#header #name {
		flex: auto;
		width: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#nav {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.myface.floatleft {
		float: none;
	}
}
